.table-view{
	-fx-background-color: linear-gradient(#2fedc0 0%, #2681d1 100%);
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#2fedc0 0%, #2681d1 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}
.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
    -fx-font-size: 16px;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #ddfff5;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-opacity: 0.8;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-opacity: 0.8;
}


.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}